useDynLib(TAPE,.registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(RcppParallel, RcppParallelLibs)
import(SAIGE)
exportPattern("^[[:alpha:]]+")

export(Get_Pvalues_espa)
export(TAPE_Null_Model)
export(TAPEtest)
export(TAPEtestM)
export(getVR)
export(glmmaiNullModel)

